data.csv
output/
*.tmp
curves
gesturerOneMotor/GesturePlayer.pde
gesturerOneMotor/GestureRecorder.pde
gesturerTwoMotors/GesturePlayer.pde
gesturerTwoMotors/GestureRecorder.pde
*.fbx./gesturerMagpie/data
./gesturerMagpie/GesturePlayer.pde
./gesturerMagpie/GestureRecorder.pde
./gesturerOneMotor/data
./gesturerOneMotor/GesturePlayer.pde
./gesturerOneMotor/GestureRecorder.pde
./gesturerTwoMotors/data
./gesturerTwoMotors/GesturePlayer.pde
./gesturerTwoMotors/GestureRecorder.pde
/gesturerMagpie/data
/gesturerMagpie/GesturePlayer.pde
/gesturerMagpie/GestureRecorder.pde
/gesturerOneMotor/data
/gesturerOneMotor/GesturePlayer.pde
/gesturerOneMotor/GestureRecorder.pde
/gesturerTwoMotors/data
/gesturerTwoMotors/GesturePlayer.pde
/gesturerTwoMotors/GestureRecorder.pde
