data.csv
output/
*.tmp
curves
gesturerOneMotor/GesturePlayer.pde
gesturerOneMotor/GestureRecorder.pde
gesturerTwoMotors/GesturePlayer.pde
gesturerTwoMotors/GestureRecorder.pde
gesturerMagpie/GesturePlayer.pde
gesturerMagpie/GestureRecorder.pde
*.fbx
*.csv